table, td {
    border:1px solid black;
}

table {
    border-collapse:collapse;
    width:5%;
    text-align: center;
    margin-left: 35%;
  
}

td {
    padding:10px;
}

.titulo{
    text-align:center;
    margin-top: 50px;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}